#exit{
    margin-top: 0;
    height: auto;
    width: 10vh;
    margin-top: 5vh;
    margin-left: 5vh;
}
#wip{
    
    height: auto;
    width: 80%;
    margin-left: 20vh;
}
#sorrybro{
    margin-left: 55vh;
}